manifest {
  name = 'NM2'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-nm2'
  description = 'Analyze MAGs'
  mainScript = 'main.nf'
  version = '2.0.1'
}

includeConfig "$projectDir/conf/aws_batch.config"
docker.enabled = true

params {

    /* 	Containers
     --------------------------------*/
    docker_container_ninjamap = "quay.io/biocontainers/mikado:2.3.3--py39h70b41aa_0"

		
    /* 	Execution flow parameters
     --------------------------------*/		
    project="Strain_Dropout_Verification"
	  outdir="s3://genomics-workflow-core/Results/ninjamap2"
	
  
    //These are used to print version and help
    help = null
    version = null

}


timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/01_execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/01_execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/01_execution_reports/pipeline_dag.html"
}

process 
{
  maxRetries = 1
	// executor = 'awsbatch'
	queue = 'default-maf-pipelines'
	cleanup = true
	withName: ninjamap2 
	{
		time =  '2h'
		cpus = 8
		memory = '64 GB'
    errorStrategy = 'retry'
	}	
}
